<!-- RODAPÉ SISTEMA -->
<footer>
    <div id="div-background-rodape" class="container-fluid pl-0 pr-0">
        <div class="container h-100">
            <div id="rodape" class="row h-100 pt-4 p-3 p-md-5 rodape ">
                <div class="col-12 col-md-12 col-lg-3 d-flex justify-content-center justify-content-md-center align-items-center">
                    <img id="logomarca-rodape-vertical" src="/images/LOGO_IFAL_BRANCO_VERTICAL.svg" class="d-none d-lg-block" />
                    <img id="logomarca-rodape-horizontal" src="/images/LOGO_IFAL_BRANCO.svg" class="d-block d-lg-none pt-3 pt-md-0 mb-5" />
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                </div>
            </div>
        </div>
    </div>
    <div id="div-rodape-assinatura" class="container-fluid pl-0 pr-0">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col mx-auto">
                    <div class="d-flex align-items-center flex-column">
                        <div class="p-2 m-sm-3"><span class="rodape-assinatura"><strong>© 2021</strong> | Desenvolvido por: CDSI / DTI / Reitoria</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- FIM RODAPÉ -->
    
<!-- Contraste -->
<script src="/static/js/contraste.js" crossorigin="anonymous"></script>

</body>
</html>