<div id="menu-lateral" class="pl-0 pr-lg-2">
    <nav id="nav-menu-lateral" aria-label="Menu lateral para filtrar editais por categorias">
        <ul id="menu-opcoes" class="list-unstyled components">
            <li class="secao-menu pb-4 pt-4 mb-3">
                <span class="m-2"></span><i class="bi-bookmark mr-2"></i>FUNCIONALIDADES
            </li>
            <!--<li>
                <a href="#" class="rounded ativo"><i class="bi-sort-down mr-2"></i>Todos os editais</a>
            </li>-->
            <li>
                <a href="/obras" class="rounded"><i class="bi-dot mr-2"></i>Obras</a>
            </li>
            <li>
                <a href="#" class="rounded"><i class="bi-dot mr-2"></i>Exemplares</a>
            </li>
            <li>
                <a href="#" class="rounded"><i class="bi-dot mr-2"></i>Empréstimos</a>
            </li>
            <li>
                <a href="#" class="rounded"><i class="bi-dot mr-2"></i>Devoluções</a>
            </li>
            <li>
                <a href="#" class="rounded"><i class="bi-dot mr-2"></i>Descartes</a>
            </li>
            <li>
                <a href="/generos" class="rounded"><i class="bi-dot mr-2"></i>Gêneros</a>
            </li>

        </ul>
    </nav>
</div>
