<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="pt-BR">

    <link rel="stylesheet" href="/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/acessibilidade.css">
    <link rel="stylesheet" href="/css/servicos.css">
    <!-- Icones -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <!-- jQuery CDN - Slim version (= Sem AJAX) -->
    <script src="/js/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="/js/popper.min.js" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <!-- Checa Contraste -->
    <script src="/js/checa-contraste.js" crossorigin="anonymous"></script>

    <title>IFAL - Sistema de Biblioteca | Instituto Federal de Alagoas</title>

</head>
<body class="p-0 m-0">

<!-- NAV BAR TOPO -->
<header>
</header>
<!-- FIM NAV BAR TOPO -->

<!-- HEAD TÃTULO DO SISTEMA -->
<div id="div-background" class="container-fluid fade-in-1 pl-0 pr-0">
    <div class="container h-100 bg-ondas-verdes">
        <div class="row h-100">
            <div id="titulo-sistema" class="col-12 d-flex justify-content-center justify-content-lg-start align-items-center">
                <a href="/" class="text-white">LibWeb</a>
            </div>
        </div>
    </div>
</div>
<!-- FIM HEAD -->
