<%- include('partials/header.ejs') %>
<!-- CONTEUDO -->
<div class="container fade-in-1">
    <div class="row">
        <%- include('partials/menuLateral.ejs') %>
        <div id="conteudo" class="col-12 col-lg-8 col-xl-9">
            <main>
            </main>
        </div>
    </div>
</div>
<!-- FIM CONTEUDO -->

<%- include('partials/footer.ejs') %>